In [ ]:
Q1.What is a database? Differentiate between SQL and NoSQL databases.

Ans-

A database is a structured collection of data that is organized and stored in a way that enables efficient retrieval and manipulation of the data.
Databases are used in a wide range of applications, such as web-based applications, mobile apps, and enterprise systems.

SQL and NoSQL are two different types of databases that differ in their data models and query languages.

SQL (Structured Query Language) 
databases are relational databases that use tables to store data, where each table represents an entity or relationship between entities. 
SQL databases use a structured query language (SQL) to manipulate and retrieve data, and are based on the relational data model. 
SQL databases are known for their ability to handle complex queries and transactions, and are often used in enterprise applications where data consistency and transactional integrity are critical.

NoSQL (Not Only SQL) 
databases are non-relational databases that use various data models, such as document-based, key-value, graph-based, or column-family, to store data.
Unlike SQL databases, NoSQL databases do not use a fixed schema, allowing for greater flexibility and scalability. 
NoSQL databases are often used in modern web applications and big data systems, where scalability and high availability are more important than strict consistency.

In summary, SQL databases are based on a structured data model, use a structured query language, and are typically used in enterprise applications, whereas NoSQL databases use various data models, are more flexible, and are often used in modern web applications and big data systems

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans-

DDL stands for Data Definition Language and is a subset of SQL (Structured Query Language) that is used to define and manipulate the structure of database objects such as tables, views, indexes, and other schema objects. 
DDL statements are used to create, modify, and delete database objects.

In [ ]:
#1.CREATE: 
"""The CREATE statement is used to create a new database object, such as a table, view, or index. 
For example, the following statement creates a new table named "employees" with columns for employee ID, name, and salary:"""
    
CREATE TABLE employees (
   emp_id INT PRIMARY KEY,
   emp_name VARCHAR(50),
   emp_salary FLOAT
);

In [ ]:
#2.DROP:
The DROP statement is used to remove an existing database object, such as a table or view. 
For example, the following statement drops the "employees" table:
    
DROP TABLE employees;

In [ ]:
#3.ALTER: 
The ALTER statement is used to modify an existing database object, such as a table, view, or index.
For example, the following statement adds a new column "emp_department" to the "employees" table:
    
ALTER TABLE employees
ADD emp_department VARCHAR(50);

In [ ]:
#4.TRUNCATE:
The TRUNCATE statement is used to delete all rows from a table, while keeping the table structure intact.
For example, the following statement removes all rows from the "employees" table:

TRUNCATE TABLE employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-
DML stands for Data Manipulation Language and is a subset of SQL (Structured Query Language) that is used to manipulate the data stored in a database. 
DML statements are used to insert, update, delete, and retrieve data from database tables.

In [ ]:
#1.INSERT: 
The INSERT statement is used to add new rows of data to a database table. 
For example, the following statement adds a new row of data to the "employees" table:
    
INSERT INTO employees (emp_id, emp_name, emp_salary) VALUES (101, 'Amandeep', 50000);

In [ ]:
#2.UPDATE: 
The UPDATE statement is used to modify existing data in a database table. 
For example, the following statement updates the salary of the employee with ID 101 in the "employees" table:
    
UPDATE employees SET emp_salary = 55000 WHERE emp_id = 101;

In [ ]:
#3.DELETE:
The DELETE statement is used to remove rows of data from a database table. 
For example, the following statement deletes the employee with ID 101 from the "employees" table:
    
DELETE FROM employees WHERE emp_id = 101;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

Ans-

DQL stands for Data Query Language and is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. 
DQL statements are used to query the database tables to retrieve the required data.

The most commonly used DQL statement is the SELECT statement, which is used to retrieve data from one or more database tables. 
The SELECT statement allows you to specify the columns that you want to retrieve, as well as any filters, sorting, grouping, and joining conditions.

In [ ]:
"""Here is an example of a SELECT statement that retrieves all the employee names and salaries from the "employees" table:"""

SELECT emp_name, emp_salary
FROM employees;

We can also use the WHERE clause to filter the results based on specific conditions. 
For example, the following statement retrieves the names and salaries of employees who earn more than $50000 per year:
    
SELECT emp_name, emp_salary
FROM employees
WHERE emp_salary > 50000;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

Ans-

Primary key and foreign key are both important concepts in database design that are used to establish relationships between database tables.

Primary Key
A primary key is a column or set of columns in a database table that uniquely identifies each row in the table. 
A primary key is used to ensure that each row in the table can be identified and accessed in a unique way. 
A primary key must be unique, non-null, and not changeable. By convention, primary keys are often named "id" or "name of the table" followed by "_id".

For example, in a database that stores information about employees, the "emp_id" column can be defined as the primary key for the "employees" table. 
This ensures that each employee in the table can be uniquely identified by their employee ID.


Foreign Key
A foreign key is a column or set of columns in a database table that refers to the primary key of another table. 
A foreign key establishes a relationship between two tables, allowing data from one table to be linked to data from another table. 
The foreign key column in one table references the primary key column in another table. 
This allows you to create a link between the two tables, enabling you to retrieve data from both tables using a single query.

For example, in a database that stores information about employees and their departments, the "emp_dept_id" column can be defined as a foreign key in the "employees" table, referencing the primary key "dept_id" in the "departments" table. 
This establishes a relationship between the "employees" and "departments" tables, allowing you to retrieve data about employees and their departments using a single query.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans-
Here's an example Python code to connect MySQL to Python using the mysql-connector-python module:

import mysql.connector

# Establish connection to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("CREATE DATABASE if not exists test2")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for result in results:
  print(result)

mydb.close()

In [ ]:
cursor():
The cursor() method is used to create a cursor object, which is used to execute SQL queries and retrieve results from the database. 
The cursor object provides methods such as execute(), fetchone(), and fetchall() for executing queries and retrieving results.

When you call the cursor() method, a new cursor object is created and returned. 
This cursor object is associated with a particular database connection, so any queries you execute using the cursor object will be executed on that database connection.


execute():
The execute() method is used to execute a SQL query on the database. 
It takes a string argument that contains the SQL query to be executed. 
The query can be a SELECT, INSERT, UPDATE, or DELETE statement.

When you call the execute() method on a cursor object, the query is executed on the database connection associated with that cursor object. 
The result of the query (if any) is stored in the cursor object, and can be retrieved using the fetchone() or fetchall() methods.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

Ans-

In an SQL query, the clauses are executed in the following order:
    
1. SELECT: specifies the columns to retrieve from the database
2. FROM: specifies the table(s) to retrieve data from
3. JOIN: specifies how to combine data from multiple tables
4. WHERE: filters the results based on a condition
5. GROUP BY: groups the results by one or more columns
6. HAVING: filters the results of a GROUP BY query based on a condition
7. ORDER BY: sorts the results based on one or more columns

However, not all clauses are required in every SQL query. 
The basic structure of an SQL query includes only the SELECT and FROM clauses, but you can add other clauses as needed to filter, group, or sort the results.